In [2]:
# Dockerfile replaces need for requirements.txt, but as secondary source
# !pip freeze >> requirements.txt

In [13]:
# import modules
import pandas as pd
import numpy as np
import chartify as ch

In [46]:
# load and manipulate datasets
dfTeams = pd.read_csv("./WDataFiles/WTeams.csv")
dfSeason = pd.read_csv("./WDataFiles/WRegularSeasonCompactResults.csv")
dfTourney = pd.read_csv("./WDataFiles/WNCAATourneyCompactResults.csv")
dfSeason.head()

   Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
0    1998      18     3104      91     3202      41    H      0
1    1998      18     3163      87     3221      76    H      0
2    1998      18     3222      66     3261      59    H      0
3    1998      18     3307      69     3365      62    H      0
4    1998      18     3349     115     3411      35    H      0

In [43]:
# focus on team wins losses
# newDf: teamId, wins, losses
def winLossCnt(df):
    dfWinLoss = dfTeams[["TeamID"]].copy()
    dfWinLoss = dfWinLoss.reindex(columns = ["TeamID","wins","losses"], fill_value=0) # create columns and init w/ 0s
    dfWinLoss = dfWinLoss.rename(columns={"TeamID": "teamId"}) # camelCase

    # find indx of winTeam & loseTeam and add one to their column counts
    for index, row in df.iterrows():
        winTeam = row["WTeamID"]
        loseTeam = row["LTeamID"]
        dfWinLoss.loc[(dfWinLoss["teamId"] == winTeam), ("wins")] += 1
        dfWinLoss.loc[(dfWinLoss["teamId"] == loseTeam), ("losses")] += 1
        
    return dfWinLoss

# focus on 2018 data
season = 2018
dfOneSeason = dfSeason.loc[dfSeason['Season'] == season]
dfOneTourney = dfTourney.loc[dfTourney['Season'] == season]

dfWinLoss = winLossCnt(dfOneSeason)

"""
TODO:
* change iterrows to df.loc[where winTeamId == teamId] then get length of this
* df[df.A > 0]
* turn df into df of lists (ex: 3101 = [wins, losses])
* create matchup of all teams 
* create matchup score (3101 - 3141)
* create list of winner of matchup (ex: [1] if team1 wins [0] if team2 wins)

* features to add: PPG, allowed PPG, steals, turnovers, rebounds, assists, FG%, home/away/neutral, conference (1-whatever), title in last 4 yrs?, 
+ https://adeshpande3.github.io/Applying-Machine-Learning-to-March-Madness
"""

'\nTODO:\n# turn df into df of lists (ex: 3101 = [wins, losses])\n# create matchup of all teams \n# create matchup score (3101 - 3141)\n# create list of winner of matchup (ex: [1] if team1 wins [0] if team2 wins)\n'

In [33]:
from sklearn.model_selection import train_test_split

# feature selection
X = 
# target
y
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=6)

In [ ]:
from sklearn.linear_model import LogisticRegression